<div class="container-navbar">
	<!-- Vertical navbar -->
	<div class="navigation" id="containerPrincipal">
		<ul>
			<li>
				<a href="#" >
					<span class="icon"><ion-icon name="person-circle-outline"></ion-icon></ion-icon></span>
					<span class="title">{{name}}</span>
				</a>
			</li>
			<li>
				<a href="/home">
					<span class="icon"><ion-icon name="home-outline"></ion-icon></span>
					<span class="title">Inicio</span>
				</a>
			</li>
			<li>
				<a href="/lots">
					<span class="icon"><ion-icon name="egg-outline"></ion-icon></span>
					<span class="title">Lotes</span>
				</a>
			</li>
			<li>
				<a href="/users">
					<span class="icon"><ion-icon name="people-outline"></ion-icon></span>
					<span class="title">Usuarios</span>
				</a>
			</li>
			<!--<li>
				<a href="/camera">
					<span class="icon"><ion-icon name="albums-outline"></ion-icon></span>
					<span class="title">An치lisis Camara</span>
				</a>
			</li>-->
			<li>
				<a href="/image">
					<span class="icon"><ion-icon name="albums-outline"></ion-icon></span>
					<span class="title">An치lisis Imagen</span>
				</a>
			</li>
			<!--<li>
				<a href="#">
					<span class="icon"><ion-icon name="images-outline"></ion-icon></span>
					<span class="title">Galeria</span>
				</a>
			</li>-->
			<li>
				<a href="/chart">
					<span class="icon"><ion-icon name="analytics-outline"></ion-icon></span>
					<span class="title">Estadisticas</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="help-outline"></ion-icon></span>
					<span class="title">Ayuda</span>
				</a>
			</li>
			<!--<li>
				<a href="#">
					<span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
					<span class="title">Configuraci칩n</span>
				</a>
			</li>-->
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="people-outline"></ion-icon></span>
					<span class="title">Nosotros</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- End vertical navbar -->
	
	<!-- Navar-hortizontal -->
	<div class="main" id="content">
		<div class="topbar">
			<button id="toggle" class="toggle" type="button">
				<ion-icon name="menu-outline"></ion-icon>
			</button>
			<!-- search -->
			<div class="search">
				<label>
					<input type="text" placeholder="Search here">
					<ion-icon name="search-outline"></ion-icon>
				</label>
			</div>
			<div>
				<a href="/logout">
					<span title="Cerrar Sesi칩n"><ion-icon class="btn-logout" name="log-out-outline"></ion-icon></span>
				</a>
			</div>
		</div>
	</div>
	<!-- End navar-hortizontal -->
</div>

<!-- Horizontal navbar 
<div class="page-content" id="content">
	<nav class="horizontal-nav navbar navbar-expand-lg navbar-dark">
		<div class="container-fluid">
			 Toggle button -->

			<!--<button id="sidebarCollapse" type="button"><i class="fa fa-bars mr-2"></i></button>
			<a class="navbar-brand" style="color: black;" href="/home">CM-Vision</a>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>-->
		<!--	<div class="collapse navbar-collapse" id="navbarNav">
				
                <ul class="navbar-nav"> 
                    {{#each role}}       
                        {{#ifCond _id '==' ../user}}                        
                            {{#ifCond role '==' "Administrador"}}                   
                                <li class="nav-item">                                
                                    <a class="nav-link" href="/users">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> Usuario
                                    </a>
                                </li>                 
                                <li class="nav-item">                                
                                    <a class="nav-link" href="/categories">
                                        <i class="fa fa-tags" aria-hidden="true"></i> Categoria
                                    </a>                       
                                </li>
                            {{/ifCond}}
                        {{/ifCond}}
                    {{/each}}
                </ul>
				-->
	<!--
			</div>
		</div>
	</nav>
</div>-->

<script>
	//add hoverd
	let list = document.querySelectorAll('.navigation li');
	function activeLink(){
		list.forEach((item) =>
		item.classList.remove('hovered'));
		this.classList.add('hovered');
	}
	list.forEach((item) => 
	item.addEventListener('click', activeLink));
</script>
