<!-- Vertical navbar -->
<div class="vertical-nav color-background" id="sidebar">
	<div class="py-4 px-3 mb-4">
		<div class="media d-flex align-items-center"><img src="/img/user.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm" />
			<div class="media-body">
				<h4 class="m-0">&nbsp;Arely Martinez</h4>
				<p class="font-weight-light text-muted mb-0">&nbsp;Desarrollado Web</p>
			</div>
		</div>
	</div>

	<p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

	<ul class="nav flex-column mb-0">
		<li class="nav-item">
			<a href="/home" class="font-italic text-turquoise">
				<i class="fa fa-house mr-3 fa-fw"></i>
				Inicio
			</a>
		</li>
		<li class="nav-item">
			<a href="/lots" class="font-italic text-turquoise">
				<i class="fa fa-th-large mr-3 fa-fw"></i>
				Lotes
			</a>
		</li>
		<li class="nav-item">
			<a href="users" class="font-italic text-turquoise">
				<i class="fa fa-cubes mr-3 fa-fw"></i>
				Usuario
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="font-italic text-turquoise">
				<i class="fa fa-picture-o mr-3fa-fw"></i>
				Galeria
			</a>
		</li>
		<li class="sub-menu"><a class="font-italic text-turquoise">Analizar<div class="fa fa-caret-down right"></div></a>
			<ul>
				<li class="nav-item"><a class="font-italic text-turquoise" href="/camera">Analisis por camara</a></li>
				<li class="nav-item"><a class="font-italic text-turquoise" href="/image">Analisis por imagen</a></li>
			</ul>
		</li>
		<li class="sub-menu"><a href="#message">Help<div class="fa fa-caret-down right"></div></a>
			<ul>
				<li class="nav-item"><a href="#settings">FAQ's</a></li>
				<li class="nav-item"><a href="#settings">Submit a Ticket</a></li>
				<li class="nav-item"><a href="#settings">Network Status</a></li>
			</ul>
		</li>
	</ul>

	<p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>

	<ul class="nav flex-column mb-0">
		<li class="sub-menu"><a href="#settings">Estadisticas<div class="fa fa-caret-down right"></div></a>
			<ul>
				<li class="nav-item">
					<a href="#" class="font-italic text-turquoise">
						<i class="fa fa-area-chart mr-3 fa-fw"></i>Area charts
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="font-italic text-turquoise">
						<i class="fa fa-bar-chart mr-3 fa-fw"></i>Bar charts
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="font-italic text-turquoise">
						<i class="fa fa-pie-chart mr-3 fa-fw"></i>
						Pie charts
					</a>
				</li>
		</li>
		<li class="nav-item">
			<a href="#" class="font-italic text-turquoise">
				<i class="fa fa-line-chart mr-3 fa-fw"></i>
				Line charts
			</a>
		</li>
				<li class="nav-item"><a href="#settings">Profile</a></li>
			</ul>
		</li>
		
		<li class="nav-item">
			<a href="#" class="font-italic text-turquoise">
				<i class="fa fa-address-card mr-3 fa-fw"></i>
				Nosotros
			</a>
		</li>
	</ul>

	<p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>
	<ul class="nav flex-column mb-0">
		<li class="nav-item">
			<a class="text-white" href="/logout">
				<i class="fa fa-sign-out" aria-hidden="true"></i>
				Salir
			</a>
		</li>
	</ul>

</div>
<!-- End vertical navbar -->

<!-- Horizontal navbar -->
<div class="page-content" id="content">
	<nav class="horizontal-nav navbar navbar-expand-lg navbar-dark color-background">
		<div class="container-fluid">
			<!-- Toggle button -->

			<button id="sidebarCollapse" class="color-background" type="button"><i class="fa fa-bars mr-2"></i></button>
			<a class="navbar-brand" href="/home">CM-Vision</a>
			<!--<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>-->
			<div class="collapse navbar-collapse" id="navbarNav">
				<!--
                <ul class="navbar-nav"> 
                    {{#each role}}       
                        {{#ifCond _id '==' ../user}}                        
                            {{#ifCond role '==' "Administrador"}}                   
                                <li class="nav-item">                                
                                    <a class="nav-link" href="/users">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> Usuario
                                    </a>
                                </li>                 
                                <li class="nav-item">                                
                                    <a class="nav-link" href="/categories">
                                        <i class="fa fa-tags" aria-hidden="true"></i> Categoria
                                    </a>                       
                                </li>
                            {{/ifCond}}
                        {{/ifCond}}
                    {{/each}}
                </ul>
				-->

			</div>
		</div>
	</nav>
</div>