<div class="modal fade" id="formUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Nuevo Usuario</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="createUser" action="/users/add" method="POST">
					<div class="mb-3">
						<label for="name" class="col-form-label">Nombre</label>
						<input type="name" class="form-control" id="name" name="name" placeholder="Ingrese sus nombres" required />
					</div>
					<div class="mb-3">
						<label for="email" class="col-form-label">Email</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="Ingrese un email" required />
					</div>
					<div class="mb-3">
						<label for="rol" class="col-form-label">Rol</label>
						<select class="form-select" id="rol" name="rol" required>
							<option value="" disabled selected>-- Escoja una opcion --</option>
							{{#each role}}
								<option value="{{_id}}">{{role}}</option>
							{{/each}}
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-turquoise" form="createUser">Añadir</button>
				<button type="button" class="btn btn-dark-blue" data-bs-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>