{{> nav/navigation}}
<div class="page-content p-5" id="content">
    <div class="row">
		<div class="col-sm-10">
			<h5 class="text-black">AYUDA</h5>
		</div>
	</div>
	<hr>
    <div class="accordion" id="accordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Manual de Usuario
			</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					.
					<a href="https://drive.google.com/file/d/1UUGwZSg4oLHWMh8dQrnmxxd1Ncgtj3ca/view?usp=share_link" target="_blank">Manual del asistente de incubanción</a>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				AviNews, revisata global de avicultura
			</button>
			</h2>
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
			<div class="accordion-body" style="text-align: justify;">
				aviNews es la revista avícola más leída en España, siendo hoy la revista especializada en la industria avícola con mayor credibilidad del  sector.  En este canal se tendrá acceso a la versión en audio de los artículos publicados en nuestra revista impresa. Usted podrá escuchar artículos sobre manejo avícola, bioseguridad en nuestra granjas, procesamiento avícola, rendimiento y calidad de las canales de pollo, formulación de piensos para avicultura, nutrición y alimentación avícola, manejo de avicultura de puesta, calidad de huevos, patologías  frecuentes en producción de pollos y ponedoras, y reproductores avícolas e incubación, entre otros temas.
				<a href="https://avinews.com/paises/centro-america-caribe/" target="_blank">Revista AviNews</a>
			</div>
			</div>
		</div>
	</div>
</div>