{{> nav/navigation}}

<div class="page-content p-5" id="content">
    <nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">Galeria</li>
		</ol>
	</nav>
    <h5 class="text-black">Galeria de imágenes</h5>
    <hr>
    <main class="page-content-gallery">
        <div class="card-gallery">
            <div class="content-gallery">
            <h2 class="title-gallery">Huevos en etapa inicial</h2>
            <p class="copy-gallery">Echa un vistazo a todas estas ovoscopias de huevos en sus primeros siete días de desarrollo</p>
            <a href="/inicial" class="btn-gallery">Ver ovoscopias</a>
            </div>
        </div>
        <div class="card-gallery">
            <div class="content-gallery">
            <h2 class="title-gallery">Huevos en etapa media</h2>
            <p class="copy-gallery">Echa un vistazo a todas estas ovoscopias de huevos en su etapa de desarrollo intermedia</p>
            <a href="/media" class="btn-gallery">Ver ovoscopias</a>
            </div>
        </div>
        <div class="card-gallery">
            <div class="content-gallery">
            <h2 class="title-gallery">Huevos en etapa final</h2>
            <p class="copy-gallery">Echa un vistazo a todas estas ovoscopias de huevos en su etapa culminante de desarrollo</p>
            <a href="/final" class="btn-gallery">Ver ovoscopias</a>
            </div>
        </div>
        <div class="card-gallery">
            <div class="content-gallery">
            <h2 class="title-gallery">Embriones/Fetos inertes</h2>
            <p class="copy-gallery"></p>
            <a href="/inerte" class="btn-gallery">Ver ovoscopias</a>
            </div>
        </div>
    </main>
</div>