:root {
	--color__accent: #089d79;
	--color_black: #0d1a25;
	--field__background: #f5f5f5;
	--field__background--hover: #e9e9e9;
	--input__border: rgba(19, 20, 18, 0.42);
	--input__border--hover: #089d79;
	--label__color: rgba(57, 54, 54, 0.87);

	--font__size: 16px;
	--font__family: Roboto, Arial, sans-serif;
}

/*
* ==========================================
* Colors
* ==========================================
*
*/

/*
.text-turquoise {
	color: #12e2b0;
}
*/

.text-gray {
	color: #aaa;
	font-size: 12px;
	background: none;
}

.color-button {
	background: var(--color__accent);
	color: #fff;
}

/*.color-background {
	background-color: #0d1a25;
	color: #fff;
}*/

.text-uppercase {
	letter-spacing: 0.1em;
}

/* -- Login --*/
figure {
	margin: 0 0 1rem;
}

/*img {
	vertical-align: middle;
	border-style: none;
}*/

.ftco-section {
	padding-top: 150px;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.btn-center {
	text-align: center;
}

.btn-center button {
	border-radius: 20px;
	padding: 7px 25px;
}

.btn-restore {
	text-align: right;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

/*
* ==========================================
* Login & Register
* ==========================================
*
*/

.form-box-login {
	width: 380px;
	height: 340px;
	position: relative;
	margin: 1% auto;
	background: #fff;
	overflow: hidden;
}

.form-box-register {
	width: 380px;
	height: 430px;
	position: relative;
	margin: 1% auto;
	background: #fff;
	overflow: hidden;
}

.button-box {
	width: 290px;
	margin: 20px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #24ffcc1f;
	border-radius: 30px;
}

.toggle-btn {
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

#btn {
	top: 0;
	left: 0;
	position: absolute;
	width: 165px;
	height: 100%;
	background: linear-gradient(to right, #089d79, #24ffcc1f);
	border-radius: 30px;
	transition: 0.5s;
}

.input-group {
	top: 90px;
	position: absolute;
	width: 280px;
	transition: 0.5s;
}

.submit-btn {
	margin: 25px auto;
	width: 100%;
	padding: 10px 0px;
	cursor: pointer;
	display: block;
	background: var(--color__accent);
	border: 0;
	outline: none;
	border-radius: 30px;

	font-size: l6px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 2px;
}

.submit-btn:hover {
	background: var(--color__accent);
	color: #fff;
	border-radius: 30px;
	box-shadow: 0 0 5px #63cbb3bf, 0 0 15px #63cbb3bf, 0 0 50px #63cbb3bf, 0 0 100px #63cbb3bf;
}

#login {
	left: 60px;
}
#register {
	left: 450px;
}

/*.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem;
}*/
/*
.shadow-sm {
	-webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
	-webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}*/

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.wrap {
	width: 100%;
	overflow: hidden;
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.img,
.login-wrap {
	width: 60%;
}
@media (max-width: 991.98px) {
	.img,
	.login-wrap {
		width: 100%;
	}
}

@media (max-width: 767.98px) {
	.wrap .img {
		height: 250px;
	}
}

.login-wrap {
	position: relative;
	background: #fff h3;
}

/*.form-group {
	position: relative;
}

.form-group .label {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #000;
	font-weight: 700;
}

.form-control {
	height: 48px;
	background: #fff;
	color: #000;
	font-size: 16px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
/*color: rgba(0, 0, 0, 0.2) !important;
}
.form-control::-moz-placeholder {
	/* Firefox 19+ */
/*color: rgba(0, 0, 0, 0.2) !important;
}
.form-control:-ms-input-placeholder {
	/* IE 10+ */
/*color: rgba(0, 0, 0, 0.2) !important;
}
.form-control:-moz-placeholder {
	/* Firefox 18- */
/*color: rgba(0, 0, 0, 0.2) !important;
}
.form-control:focus,
.form-control:active {
	outline: none !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #e3b04b;
}*/
/*
.social-media {
	position: relative;
	width: 100%;
}
.social-media .social-icon {
	display: block;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.05);
	font-size: 16px;
	margin-right: 5px;
	border-radius: 50%;
}
.social-media .social-icon span {
	color: #999999;
}
.social-media .social-icon:hover,
.social-media .social-icon:focus {
	background: #089d79;
}
.social-media .social-icon:hover span,
.social-media .social-icon:focus span {
	color: #fff;
}*/

/*
* ==========================================
* Navbar
* ==========================================
*
*/

body {
	min-height: 100vh;
	overflow-x: hidden;
	background-color: #fff;
	font-size: 14px;
}

.container-navbar {
	position: relative;
	width: 100%;
}

/*--menu --*/
.navigation {
	position: fixed;
	width: 250px;
	height: 100%;
	background: var(--color_black);
	border-left: 10px solid var(--color_black);
	transition: 0.5s;
	overflow: hidden;
	overflow-y: scroll;
}

/* Ocultar scroll para Chorme, Safari y Opera*/
.navigation::-webkit-scrollbar {
	display: none;
}

/* Ocultar scroll para IE, Edge y Firefox*/
.navigation {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.navigation.active {
	width: 80px;
}

.navigation ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 0rem;
}

.navigation ul li {
	position: relative;
	/*width: 200%;*/
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
	background: white;
}

.navigation ul li:nth-child(1) {
	margin-bottom: 40px;
	pointer-events: none;
}

.navigation ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: white;
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
	color: var(--color__accent);
	font-weight: bold;
}

.navigation ul li a .icon {
	position: relative;
	display: block;
	min-width: 60px;
	height: 45px;
	line-height: 60px;
	text-align: center;
}

.navigation ul li a .icon ion-icon {
	font-size: 1.75em;
}

.navigation ul li a .title {
	position: relative;
	display: block;
	padding: 0 10px;
	height: 40x;
	line-height: 40px;
	white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
	content: "";
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px #fff;
	pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px #fff;
	pointer-events: none;
}

.navigation ul li.hovered a:before {
	content: "";
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px #fff;
	pointer-events: none;
}

/* -- main --*/
.main {
	position: absolute;
	width: calc(100% - 250px);
	left: 250px;
	min-height: 10vh;
	background: white;
	transition: 0.5s;
}

.main.active {
	width: calc(100% - 80px);
	left: 80px;
}

.topbar {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.toggle {
	position: relative;
	top: 0;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	cursor: pointer;
	background: transparent;
	border: 0;
}

.search {
	position: relative;
	width: 400px;
	margin: 0 10px;
}

.search label {
	position: relative;
	width: 100%;
}

.search label input {
	width: 100%;
	height: 35px;
	border-radius: 40px;
	padding: 5px 20px;
	padding-left: 35px;
	font-size: 18px;
	outline: none;
	border: 1px solid rgb(208, 208, 208);
}

.search label ion-icon {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 1.2em;
}

.user {
	position: relative;
	min-width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

.user img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cardBox {
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
}

.cardBox .card {
	position: relative;
	background: white;
	padding: 25px;
	border-radius: 20px;
	display: grid;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	grid-template-columns: 4fr 1fr;
}

.cardBox .card .numbers {
	position: relative;
	font-weight: 500;
	font-size: 2.5em;
	color: var(--color__accent);
}

.cardBox .card .cardName {
	color: rgb(208, 208, 208);
	font-size: 1.1em;
	margin-top: 5px;
}

.cardBox .card .iconBx {
	font-size: 3.5em;
	color: rgb(208, 208, 208);
}

.cardBox .card:hover {
	background: var(--color__accent);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
	color: white;
}

/*-- charts --*/
.graphBox {
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 30px;
	min-height: 200px;
}

.graphBox .box {
	position: relative;
	background: #fff;
	padding: 20px;
	width: 100%;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
}

.details {
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	margin-top: 10px;
}

.details .recentOrders {
	position: relative;
	display: grid;
	min-height: 250px;
	background: white;
	padding: 20px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.cardHeader h2 {
	font-weight: 600;
	color: var(--color__accent);
}

.btn {
	position: relative;
	padding: 5px 10px;
	background: var(--color__accent);
	text-decoration: none;
	color: white;
	border-radius: 6px;
}

.details .table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

.details table thead td {
	font-weight: 600;
}

.details .recentOrders table tr {
	color: var(--color_black);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child {
	border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
	background: var(--color__accent);
	color: white;
}

.details .recentOrders table tr td {
	padding: 10px;
}

.details .recentOrders table tr td:last-child {
	text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
	text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
	text-align: center;
}

.status.delivered {
	padding: 2px 4px;
	background: #8de02c;
	color: white;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
}

/* -- page-content --*/
.page-content {
	position: absolute;
	margin-top: 10vh;
	width: calc(100% - 250px);
	left: 250px;
	min-height: 100vh;
	background: white;
	transition: all 0.5s;
}

.page-content.active {
	width: calc(100% - 80px);
	left: 80px;
}

.separator {
	margin: 2rem 0;
	border-bottom: 1px dashed rgb(0, 0, 0);
}

.btn-logout {
	width: 25px;
	height: 25px;
	color: var(--color__accent);
}

/*-- responsive */
@media (max-width: 1120px) {
	.graphBox {
		grid-template-columns: 1fr;
		height: auto;
	}
	.navigation {
		left: -250px;
	}
	.navigation.active {
		width: 250px;
		left: 0;
	}
	.main {
		width: 100%;
		left: 0;
	}
	.main.active {
		left: 250px;
	}
	.page-content {
		width: 100%;
		left: 0;
	}
	.page-content.active {
		left: 250px;
	}
	.cardBox {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 480px) {
	.cardBox {
		grid-template-columns: repeat(1, 1fr);
	}
	.cardHeader h2 {
		font-size: 20px;
	}
	.user {
		min-width: 40px;
	}
	.navigation {
		width: 100%;
		left: -100%;
		z-index: 1000;
	}
	.navigation.active {
		width: 100%;
		left: 0;
	}
	.toggle {
		z-index: 1000;
	}
	.main.active .toggle {
		position: fixed;
		right: 0;
		left: inherit;
		color: #fff;
	}

	.page-content.active {
		position: fixed;
		right: 0;
		left: inherit;
		color: #fff;
	}
}

/*Canvas*/
.canvas-container {
	margin: 0 auto;
	border: 1px solid #ccc;
}

.columnas {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

/*Diseño de image.hbs*/
.resultados {
	width: 400px;
	height: 400px;
}
#resultado {
	padding: 3px 10px;
	border: PowderBlue 5px solid;
	border-radius: 20px;
	/*font-size: 14px;*/
	font-size: 20px;
}

/*
* ==========================================
* input flotante - login/register
* ==========================================
*
*/

.floating {
	padding: 0px;
	margin-bottom: 5px;
	background-color: var(--field__background);
	transition: background-color 0.2s ease;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.floating:hover,
.floating:focus-within {
	background-color: var(--field__background--hover);
}

.floating__input {
	padding: 1.2rem 1rem 0.4rem;
	font-size: 1rem;
	border-bottom: 0.1rem solid var(--input__border);
	transition: border-color 0.2s ease;
	caret-color: var(--color__accent);
}

.floating:hover .floating__input {
	border-color: var(--input__border--hover);
}

.floating__input::placeholder {
	color: rgba(0, 0, 0, 0);
}

.floating__label {
	display: block;
	position: relative;
	max-height: 0;
	font-weight: 500;
	pointer-events: none;
}

.floating__label::before {
	color: var(--label__color);
	content: attr(data-content);
	display: inline-block;
	filter: blur(0);
	backface-visibility: hidden;
	transform-origin: left top;
	transition: transform 0.2s ease;
	left: 1rem;
	position: relative;
}

.floating__label::after {
	bottom: 1rem;
	content: "";
	height: 0.1rem;
	position: absolute;
	transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1), opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
	opacity: 0;
	left: 0;
	top: 100%;
	margin-top: -0.1rem;
	transform: scale3d(0, 1, 1);
	width: 100%;
	background-color: var(--color__accent);
}

.floating__input:focus + .floating__label::after {
	transform: scale3d(1, 1, 1);
	opacity: 1;
}

.floating__input:placeholder-shown + .floating__label::before {
	transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__label::before,
.floating__input:focus + .floating__label::before {
	transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.floating__input:focus + .floating__label::before {
	color: var(--color__accent);
}

.input-field {
	border-width: 0;
	display: block;
	width: 100%;
	margin: 0px;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
}

.input-field:focus {
	border-color: #d9d9d9;
}

.input-field:valid {
	border-color: #42d142;
}
.input-field:invalid {
	border-color: #ff8e7a;
}

.input-field:placeholder-shown {
	border-color: #d9d9d9;
}

.error-container {
	position: relative;
	background: none;
}

.icon-error {
	position: absolute;
	width: 20px;
	height: 20px;
	right: -30px;
	top: -30px;
}

.error {
	color: rgb(233, 82, 82);
	font-style: italic;
	text-align: right;
	font-size: 12px;
	margin: 0px 0 5px;
	box-shadow: 0 0 0;
}
