:root {
	--color__accent: #089d79;
	--color__dark_blue: #0d1a25;
	--field__background: #f5f5f5;
	--field__background--hover: #e9e9e9;
	--input__border: rgba(19, 20, 18, 0.42);
	--input__border--hover: #089d79;
	--label__color: rgba(57, 54, 54, 0.87);
	--theme:       #454cad;
	--dark-text:   #5f6982;

	--font__size: 16px;
	--font__family: Roboto, Arial, sans-serif;
	
}

/*
* ==========================================
* Colors
* ==========================================
*
*/
.text-gray {
	color: #aaa;
	font-size: 12px;
	background: none;
}

.text-uppercase {
	letter-spacing: 0.1em;
}

/* -- Login --*/
figure {
	margin: 0 0 1rem;
}

.ftco-section {
	padding-top: 150px;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.btn-center {
	text-align: center;
}

.btn-center button {
	border-radius: 20px;
	padding: 7px 25px;
}

.btn-restore {
	text-align: right;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

/*
* ==========================================
* Login & Register
* ==========================================
*
*/

.form-box-login {
	width: 380px;
	height: 340px;
	position: relative;
	margin: 1% auto;
	background: #fff;
	overflow: hidden;
}

.form-box-register {
	width: 380px;
	height: 430px;
	position: relative;
	margin: 1% auto;
	background: #fff;
	overflow: hidden;
}

.button-box {
	width: 290px;
	margin: 20px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #24ffcc1f;
	border-radius: 30px;
}

#login {
	left: 60px;
}
#register {
	left: 450px;
}


@media (max-width: 450px) { 
	.form-box-login{
		width: 360px;
		height: 300px;
	}
	.form-box-register {
		width: 360px;
		height: 400px;
	}
	.button-box{
		margin: 20px 20px auto;/*0;
    	margin-top: 20px;*/
	}
	#login{
		left: 25px;
	}
	#register {
		left: 400px;
	}
}

.toggle-btn {
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

#btn {
	top: 0;
	left: 0;
	position: absolute;
	width: 165px;
	height: 100%;
	background: linear-gradient(to right, #089d79, #24ffcc1f);
	border-radius: 30px;
	transition: 0.5s;
}

.input-group {
	top: 90px;
	position: absolute;
	width: 280px;
	transition: 0.5s;
}

.submit-btn {
	margin: 25px auto;
	width: 100%;
	padding: 10px 0px;
	cursor: pointer;
	display: block;
	background: var(--color__accent);
	border: 0;
	outline: none;
	border-radius: 30px;

	font-size: l6px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 2px;
}

.submit-btn:hover {
	background: var(--color__accent);
	color: #fff;
	border-radius: 30px;
	box-shadow: 0 0 5px #63cbb3bf, 0 0 15px #63cbb3bf, 0 0 50px #63cbb3bf, 0 0 100px #63cbb3bf;
}


/*.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem;
}*/
/*
.shadow-sm {
	-webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
	-webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}*/

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.wrap {
	width: 100%;
	overflow: hidden;
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.img,
.login-wrap {
	width: 60%;
}
@media (max-width: 991.98px) {
	.img,
	.login-wrap {
		width: 100%;
	}
}

@media (max-width: 767.98px) {
	.wrap .img {
		height: 250px;
	}
}

.login-wrap {
	position: relative;
	background: #fff h3;
}

/*
* ==========================================
* Navbar
* ==========================================
*
*/
body {
	min-height: 100vh;
	overflow-x: hidden;
	background-color: #fff;
	font-size: 14px;
}

.container-navbar {
	position: relative;
	width: 100%;
}

/*--menu --*/
.navigation {
	position: fixed;
	width: 250px;
	height: 100%;
	background: var(--color__dark_blue);
	border-left: 10px solid var(--color__dark_blue);
	transition: 0.5s;
	overflow: hidden;
	overflow-y: scroll;
}

/* Ocultar scroll para Chorme, Safari y Opera*/
.navigation::-webkit-scrollbar {
	display: none;
}

/* Ocultar scroll para IE, Edge y Firefox*/
.navigation {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.navigation.active {
	width: 80px;
}

.navigation ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 0rem;
}

.navigation ul li {
	position: relative;
	/*width: 200%;*/
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
	background: white;
}

.navigation ul li:nth-child(1) {
	margin-bottom: 40px;
	pointer-events: none;
}

.navigation ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: white;
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
	color: var(--color__accent);
	font-weight: bold;
}

.navigation ul li a .icon {
	position: relative;
	display: block;
	min-width: 60px;
	height: 45px;
	line-height: 60px;
	text-align: center;
}

.navigation ul li a .icon ion-icon {
	font-size: 1.75em;
}

.navigation ul li a .title {
	position: relative;
	display: block;
	padding: 0 10px;
	height: 40x;
	line-height: 40px;
	white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
	content: "";
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px #fff;
	pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px #fff;
	pointer-events: none;
}

.navigation ul li.hovered a:before {
	content: "";
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px #fff;
	pointer-events: none;
}

/* -- main --*/
.main {
	position: absolute;
	width: calc(100% - 250px);
	left: 250px;
	min-height: 10vh;
	background: white;
	transition: 0.5s;
}

.main.active {
	width: calc(100% - 80px);
	left: 80px;
}

.topbar {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.toggle {
	position: relative;
	top: 0;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	cursor: pointer;
	background: transparent;
	border: 0;
}

.search {
	position: relative;
	margin: 0 10px;
}

.search label {
	position: relative;
	width: 100%;
}

.search label input {
	width: 100%;
	height: 35px;
	border-radius: 40px;
	padding: 5px 20px;
	padding-left: 35px;
	font-size: 18px;
	outline: none;
	border: 1px solid rgb(208, 208, 208);
}

.search label ion-icon {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 1.2em;
}

.user {
	position: relative;
	min-width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

.user img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cardBox {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

.cardBox .card {
	position: relative;
	background: white;
	padding: 25px;
	border-radius: 20px;
	display: grid;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	grid-template-columns: 4fr 1fr;
}

.cardBox .card .numbers {
	position: relative;
	font-weight: 500;
	font-size: 2.5em;
	color: var(--color__accent);
}

.cardBox .card .cardName {
	color: rgb(208, 208, 208);
	font-size: 1.1em;
	margin-top: 5px;
}

.cardBox .card .iconBx {
	font-size: 3.5em;
	color: rgb(208, 208, 208);
}

.cardBox .card:hover {
	background: var(--color__accent);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
	color: white;
}

/*-- charts --*/
.graphBox {
	position: relative;
	width: 100%;
	padding: 20px 0;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 30px;
	min-height: 200px;
}

.graphBox .box {
	position: relative;
	background: #fff;
	padding: 20px;
	width: 100%;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
}

.details {
	position: relative;
	width: 100%;
	padding: 20px 0px;
	display: grid;
	margin-top: 10px;
}

.details .recentOrders {
	position: relative;
	display: grid;
	min-height: 250px;
	background: white;
	padding: 20px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.cardHeader h2 {
	font-weight: 600;
	color: var(--color__accent);
}

.details .table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

.details table thead td {
	font-weight: 600;
}

.details .recentOrders table tr {
	color: var(--color__dark_blue);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child {
	border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
	background: var(--color__accent);
	color: white;
}

.details .recentOrders table tr td {
	padding: 10px;
}

.details .recentOrders table tr td:last-child {
	text-align: end;
}

.details .recentOrders table tr td:nth-child(2) {
	text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
	text-align: center;
}

.details .recentOrders table tr td:nth-child(4) {
	text-align: center;
}

.status.delivered {
	padding: 2px 4px;
	background: #8de02c;
	color: white;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
}

/* -- page-content --*/
.page-content {
	padding-top: 0rem !important;
	position: absolute;
	margin-top: 10vh;
	width: calc(100% - 250px);
	left: 250px;
	min-height: 100vh;
	background: white;
	transition: all 0.5s;
}

.page-content.active {
	width: calc(100% - 80px);
	left: 80px;
}

.separator {
	margin: 2rem 0;
	border-bottom: 1px dashed rgb(0, 0, 0);
}

/* -- Botones --*/
.btn-logout {
	width: 25px;
	height: 25px;
	color: var(--color__accent);
}

.btn-turquoise {
	position: relative;
	width: 100px;
	background: var(--color__accent);
	border: 2px solid var(--color__accent);
	color: white;
	border-radius: 20px;
}

.btn-turquoise:hover {
	background: #09ba8f;
	border: 2px solid #09ba8f;
	color: white;
}

.btn-dark-blue {
	position: relative;
	width: 100px;
	background: var(--color__dark_blue);
	border: 2px solid var(--color__dark_blue);
	color: white;
	border-radius: 20px;
}

.btn-dark-blue:hover {
	color: white;
	background: #2b3743;
	border: 2px solid #2b3743;
}

/*-- card-egg --*/
.card-egg {
	background: var(--color__accent);
	color: #fff;
	margin: -1px;
}

/*-- cardBox-egg --*/
.cardBox-egg {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 30px;
}

.cardBox-egg .card {
	position: relative;
	background: white;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	padding-top: 30px;
	align-items: center;
	min-width: 30vh;
}

.card-img {
	width: 80px;
	height: 100px;
}

/* card de lotes*/
.egg-btn{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}


/*-- responsive */
@media (max-width: 1400px) {
	.egg-btn{
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 1120px) {
	.graphBox {
		grid-template-columns: 1fr;
		height: auto;
		width: 100%;
	}
	.navigation {
		left: -250px;
	}
	.navigation.active {
		width: 250px;
		left: 0;
	}
	.main {
		width: 100%;
		left: 0;
	}
	.main.active {
		left: 250px;
	}
	.page-content {
		width: 100%;
		left: 0;
	}
	.page-content.active {
		left: 250px;
	}
	.cardBox {
		grid-template-columns: repeat(2, 1fr);
	}
	.cardBox-egg {
		grid-template-columns: repeat(3, 1fr);
	}
	.egg-btn{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 560px) { /*480px*/
	.cardBox {
		grid-template-columns: repeat(1, 1fr);
	}
	.cardBox-egg {
		grid-template-columns: repeat(1, 1fr);
	}
	.cardHeader h2 {
		font-size: 20px;
	}
	.user {
		min-width: 40px;
	}
	.navigation {
		width: 100%;
		left: -100%;
		z-index: 1000;
	}
	.navigation.active {
		width: 100%;
		left: 0;
	}
	.toggle {
		z-index: 1000;
	}
	.main.active .toggle {
		position: fixed;
		right: 0;
		left: inherit;
		color: #fff;
	}
	.page-content.active {
		position: fixed;
		right: 0;
		left: inherit;
		color: #fff;
	}
}

/*Canvas*/
.canvas-container {
	margin: 0 auto;
	border: 1px solid #ccc;
}

.columnas-analisis {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.columnas {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

/*Diseño de image.hbs*/
.resultados {
	margin: auto;
    margin-top: 0%;
	margin-right: 10%;
	width: 90%;
}

.vertical-center {
	margin: auto;
}

#resultado {
	padding: 3px 10px;
	/*border: PowderBlue 5px solid;*/
	border-radius: 20px;
	/*font-size: 14px;*/
	font-size: 20px;
}

@media (max-width: 850px) {
	.columnas{
		grid-template-columns: repeat(1, 1fr);
	}
	.egg-btn{
		grid-template-columns: repeat(1, 1fr);
	}
	.graphBox .box {
		width: 50% !important;
	}
	.resultados{
		margin: auto;
		width: 100%;
	}
}


@media (max-width: 560px) { /*480px*/
	.egg-btn{
		grid-template-columns: repeat(2, 1fr);
	}
	.graphBox .box {
		width: 100% !important;
	}
	.resultados{
		margin: auto;
		width: 100%;
	}
}

/*
* ==========================================
* input flotante - login/register
* ==========================================
*
*/

.floating {
	padding: 0px;
	margin-bottom: 5px;
	background-color: var(--field__background);
	transition: background-color 0.2s ease;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/*
.floating:hover,
.floating:focus-within {
	background-color: var(--field__background--hover);
}*/

.floating__input {
	padding: 1.2rem 1rem 0.4rem;
	font-size: 1rem;
	border-bottom: 0.1rem solid var(--input__border);
	transition: border-color 0.2s ease;
	caret-color: var(--color__accent);
}

.floating:hover .floating__input {
	border-color: var(--input__border--hover);
}

.floating__input::placeholder {
	color: rgba(0, 0, 0, 0);
}

.floating__label {
	display: block;
	position: relative;
	max-height: 0;
	font-weight: 500;
	pointer-events: none;
}

.floating__label::before {
	color: var(--label__color);
	content: attr(data-content);
	display: inline-block;
	filter: blur(0);
	backface-visibility: hidden;
	transform-origin: left top;
	transition: transform 0.2s ease;
	left: 1rem;
	position: relative;
}

.floating__label::after {
	bottom: 1rem;
	content: "";
	height: 0.1rem;
	position: absolute;
	transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1), opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
	opacity: 0;
	left: 0;
	top: 100%;
	margin-top: -0.1rem;
	transform: scale3d(0, 1, 1);
	width: 100%;
	background-color: var(--color__accent);
}

.floating__input:focus + .floating__label::after {
	transform: scale3d(1, 1, 1);
	opacity: 1;
}

.floating__input:placeholder-shown + .floating__label::before {
	transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__label::before,
.floating__input:focus + .floating__label::before {
	transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.floating__input:focus + .floating__label::before {
	color: var(--color__accent);
}

.input-field {
	border-width: 0;
	display: block;
	width: 100%;
	margin: 0px;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
}

.input-field:focus {
	border-color: #d9d9d9;
}

.input-field:valid {
	border-color: #42d142;
}
.input-field:invalid {
	border-color: #ff8e7a;
}

.input-field:placeholder-shown {
	border-color: #d9d9d9;
}

.error-container {
	position: relative;
	background: none;
}

.icon-error {
	position: absolute;
	width: 20px;
	height: 20px;
	right: -30px;
	top: -30px;
}

.error {
	color: rgb(233, 82, 82);
	font-style: italic;
	text-align: right;
	font-size: 12px;
	margin: 0px 0 5px;
	box-shadow: 0 0 0;
}

/*
* ==========================================
* comboBox flotante - Charts
* ==========================================
*
*/

.floating__combo{
	position: relative;
	display: block;
}

.floating__select{
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: 0;
	border-bottom: 1px solid #d9d9d9;
	padding: 1.2rem 12px 0.4rem;
	font-size: 1rem;
	caret-color: var(--color__accent);
}

.floating__input_label{
	position: absolute;
	top: 10px;
	left: 0;
	color: var(--label__color);
	font-weight: 500;
	display: block;
	padding: 0 15px;
	max-height: 0;
	pointer-events: none;
	transform: translate3d(0, -0.6rem, 0) scale3d(1, 1, 1);
    font-size: 11px;
}

.floating__select:focus{
	border-color: var(--input__border--hover);
	border-bottom: 0.1rem solid var(--input__border);
	transition: border-color 0.2s ease;
	caret-color: var(--color__accent);
}

.floating__select option{
	border-color: var(--input__border--hover);
}

.floating__select:focus + .floating__input_label{
	border-color: var(--input__border--hover);
	color: var(--color__accent);
}

.floating__combo_select::after{
	content: '';
	position: absolute;
	padding: 0;
}

.floating__combo_select:hover .floating__select {
	border-color: var(--input__border--hover);
}

/*
* ==========================================
* input-range flotante - lotes
* ==========================================
*
*/

input[type="range"] {
	height: 19px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	border: 0;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #999;
	background: #999;
	border-radius: 15px;
	border: 0px solid #999;
}

input[type="range"]::-webkit-slider-thumb {
	box-shadow: 0px 0px 3px #089d79;
	border: 1px solid #089d79;
	height: 12px;
	width: 20px;
	border-radius: 20px;
	background: #09ba8f;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -4px;
}

/*input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #42d142;
}*/

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #089d79;
	background: #089d79;
	border-radius: 15px;
	border: 0px solid #089d79;
}

input[type="range"]::-moz-range-thumb {
	box-shadow: 0px 0px 3px #089d79;
	border: 1px solid #089d79;
	height: 12px;
	width: 20px;
	border-radius: 20px;
	background: #09ba8f;
	cursor: pointer;
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type="range"]::-ms-fill-lower {
	background: #089d79;
	border: 0px solid #089d79;
	border-radius: 30px;
	box-shadow: 0px 0px 0px #089d79;
}

input[type="range"]::-ms-fill-upper {
	background: #089d79;
	border: 0px solid #089d79;
	border-radius: 30px;
	box-shadow: 0px 0px 0px #089d79;
}

input[type="range"]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 0px 0px 3px #089d79;
	border: 1px solid #089d79;
	height: 12px;
	width: 20px;
	border-radius: 20px;
	background: #09ba8f;
	cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
	background: #089d79;
}

input[type="range"]:focus::-ms-fill-upper {
	background: #089d79;
}

.egg-transparency {
	margin: auto;
	width: 120px;
	height: 170px;
	background-color: rgb(250, 206, 119);
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	align-content: center;
}

.range {
	height: 85px;
	background: #fff;
	border-radius: 10px;
	padding: 0 35px 0 20px;
}

.range .sliderValue {
	position: relative;
	width: 100%;
	left: 10%;
}

.range .sliderValue span {
	position: absolute;
	height: 45px;
	background: transparent;
	color: #fff;
	font-weight: 500;
	top: 0;
	transform: translate(-50%) scale(0);
	transform-origin: bottom;
	transition: transform 0.3s ease-in-out;
	line-height: 45px;
	z-index: 2;
}

.range .sliderValue span.show {
	transform: translate(-50%) scale(1);
}

.range .sliderValue span::after {
	position: absolute;
	content: "";
	height: 40px;
	width: 40px;
	background: #089d79;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	border: 4px solid #fff;
	z-index: -1;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
}

.range .field {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120%;
}

.range .field .value {
	position: absolute;
	font-size: 18px;
	font-weight: 600;
	color: #089d79;
}

.range .field .value.left {
	left: -10px;
}

.range .field .value.right {
	right: -25px;
}

.range .field input {
	-webkit-appearance: none;
	height: 3px;
	width: 85%;
	background: transparent;
	border-radius: 5px;
	outline: none;
	border: none;
}

.floating__label_range {
	display: block;
	position: absolute;
	max-height: 0;
	font-weight: 500;
	pointer-events: none;
}

.floating__label_range::before {
	content: attr(data-content);
	display: inline-block;
	filter: blur(0);
	backface-visibility: hidden;
	transform-origin: left top;
	transition: transform 0.2s ease;
	position: relative;
}

.input-field:focus + .floating__label_range::after {
	transform: scale3d(1, 1, 1);
	opacity: 1;
}

.floating__label_range::before {
	transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__label_range::before,
.input-field:focus + .floating__label_range::before {
	transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.range .field .progress {
	width: 0%;
	height: 0.4em;
	background: #09ba8f;
	position: absolute;
	top: 50%;
	left: 0;
	pointer-events: none;
	margin: 0 7.5%;
	border-radius: 3px;
	transform: translateY(-50%);
}

.form-switch {
	padding-left: 2.5em;
}

.switch-line {
	padding: 0;
}

.form-check {
	padding-left: 0.5em;
}

.form-check-input:checked {
	background-color: var(--color__accent);
	border-color: var(--color__accent);
}

/*
* ==========================================
* textarea flotante - lotes
* ==========================================
*
*/

.floting__textarea {
	height: calc(3rem + 2px);
    min-height: calc(1.5em + 1.5rem + 4px);
}

/*- Botones lotes -*/

.btn-et{
	text-align: left;
}

.btn-f{
	text-align: right;
}

.btn-et a i:hover,
.btn-f a i:hover{
	color: #0d1a25;
}

.luces-circulo{
	display: block;
	width: 15px;
	height: 15px;
	margin-right: 25px;
	border-radius: 50%;
	position: relative;
}

.luces-circulo::after{
	content: "";
	position: absolute;
	width: 13px;
	height: 12px;
	border-radius: 50%;
	border-right: 3px solid rgb(255, 255, 255, 0.6);
	top: 5%;
}

.red{
	background-color: #c0392b;
	box-shadow: 0 0 5px 0.3px #c0392b;
}

.yellow{
	background-color: #f1c40f;
	box-shadow: 0 0 5px 0.3px #f1c40f;
}

.green{
	background-color: #2ecc71;
	box-shadow: 0 0 5px 0.3px #2ecc71;
}


/*
* ==========================================
* Lotes page
* ==========================================
*
*/

.progress{
	height: 20px;
	border-radius: 7px;
}

.progress .lot{
	background: #089d7a83;
}

.no-text{
	text-align: center; 
	padding-top: 15%;
}

.progress-stage{
	height: 35px;
	border-radius: 7px;
}

.progress-stage .inicial{
	background: #e57801;
}

.progress-stage .media{
	background: #d8486b;
}

.progress-stage .final{
	background: #937cd6;
}

.progress-stage .inerte{
	background: #7090c0;
}
/*
* ==========================================
* Modal
* ==========================================
*
*/

.modal-content {
	border-radius: 10px;
}

.modal-header{
	background: linear-gradient(to right, #089d79, #1cdcaf76);
}

.modal-body {
    padding: 30px;
}

.modal-header {
	margin: 0.5%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.modal-footer {
    justify-content: space-evenly;
}

.row{
	margin-right: 0;
    margin-left: 0;
}

/*
* ==========================================
* Candling file
* ==========================================
*
*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");

.uploader {
	display: block;
	clear: both;
	margin: 0 auto;
	width: 100%;
}
.uploader label {
	float: left;
	clear: both;
	width: 100%;
	padding: 2rem 1.5rem;
	margin-bottom: 20px;
	text-align: center;
	background: #fff;
	border-radius: 7px;
	border: 3px solid #eee;
	transition: all 0.2s ease;
	user-select: none;
}

.uploader-image label:hover,
.uploader label:hover {
	border-color: var(--color__accent);
}

.uploader-image  label.hover,
.uploader label.hover {
	border: 3px solid var(--color__accent);
	box-shadow: inset 0 0 0 6px #eee;
}

.uploader-image label.hover #start i.fa,
.uploader label.hover #start i.fa {
	transform: scale(0.8);
	opacity: 0.3;
}

.uploader-image #start,
.uploader #start {
	float: left;
	clear: both;
	width: 100%;
}

.uploader-image #start.hidden,
.uploader #start.hidden {
	display: none;
}

.uploader-image #start i.fa,
.uploader #start i.fa {
	font-size: 50px;
	margin-bottom: 1rem;
	transition: all 0.2s ease-in-out;
}

.uploader-image #response,
.uploader #response {
	float: left;
	clear: both;
	width: 100%;
}

.uploader-image #response.hidden, 
.uploader #response.hidden {
	display: none;
}

.uploader-image #response #messages,
.uploader #response #messages {
	margin-bottom: 0.5rem;
}

.uploader-image #file-image,
.uploader #file-image {
	display: inline;
	margin: 0 auto 0.5rem auto;
	width: auto;
	height: auto;
	max-width: 180px;
}

.uploader-image #file-image.hidden,
.uploader #file-image.hidden {
	display: none;
}

.uploader-image  #notimage, 
.uploader #notimage {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}

.uploader-image #notimage.hidden,
.uploader #notimage.hidden {
	display: none;
}

.uploader-image progress, .uploader-image .progress,
.uploader progress, .uploader .progress {
	display: inline;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 180px;
	height: 8px;
	border: 0;
	border-radius: 4px;
	background-color: #eee;
	overflow: hidden;
}
.uploader-image .progress[value]::-webkit-progress-bar,
.uploader .progress[value]::-webkit-progress-bar {
	border-radius: 4px;
	background-color: #eee;
}
.uploader-image .progress[value]::-webkit-progress-value,
.uploader .progress[value]::-webkit-progress-value {
	background: linear-gradient(to right, var(--color__accent) 0%, var(--color__accent) 50%);
	border-radius: 4px;
}
.uploader-image .progress[value]::-moz-progress-bar, 
.uploader .progress[value]::-moz-progress-bar {
	background: linear-gradient(to right, var(--color__accent) 0%, var(--color__accent) 50%);
	border-radius: 4px;
}
.uploader-image input[type="file"],
.uploader input[type="file"] {
	display: none;
}
.uploader-image div,
.uploader div {
	margin: 0 0 0.5rem 0;
	color: #5f6982;
}
.uploader-image .file-btn,
.uploader .file-btn {
	background: var(--dark-text);
	color: #fff;
}

.uploader-image .file-btn:hover,
.uploader .file-btn:hover {
	background: #5f6982ac;
}


/*
* ==========================================
* Image file
* ==========================================
*
*/
.uploader-image {
	display: block;
	clear: both;
	margin: 0 auto;
	width: 100%;
}
.uploader-image label {
	float: left;
	clear: both;
	width: 100%;
	padding: 2rem 1.5rem;
	margin-bottom: 20px;
	text-align: center;
	background: #fff;
	border-radius: 20px;
	border: 3px solid #eee;
	transition: all 0.2s ease;
	user-select: none;
}



.carousel{
	width: 90%;
	max-width:100%;
	text-align: center;
    margin: auto;
}


/* card gallery*/
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
	--d: 700ms;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
	--font-sans: "Rubik", sans-serif;
	--font-serif: "Cardo", serif;
}

* {
	box-sizing: border-box;
}

.page-content-gallery {
	display: grid;
	grid-gap: 1rem;
	padding: 1rem;
	max-width: 1024px;
	margin: 0 auto;
	font-family: var(--font-sans);
}
@media (min-width: 600px) {
	.page-content-gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 800px) {
	.page-content-gallery {
		grid-template-columns: repeat(4, 1fr);
	}
}
.card-gallery {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
	.card-gallery {
		height: 310px;
	}
}
.card-gallery:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: 0 0;
	transition: transform calc(var(--d) * 1.5) var(--e);
	pointer-events: none;
}
.card-gallery:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
	transform: translateY(-50%);
	transition: transform calc(var(--d) * 2) var(--e);
}
.card-gallery:nth-child(1):before {
	background-image: url(https://res.cloudinary.com/da3mkibwt/image/upload/v1672676093/Screenshot_2_pxjlr7.png);
}
.card-gallery:nth-child(2):before {
	background-image: url(https://res.cloudinary.com/da3mkibwt/image/upload/v1672676572/Screenshot_1_pczkdw.png);
}
.card-gallery:nth-child(3):before {
	background-image: url(https://res.cloudinary.com/da3mkibwt/image/upload/v1672676759/Screenshot_1_o2wyni.png);
}
.card-gallery:nth-child(4):before {
	background-image: url(https://res.cloudinary.com/da3mkibwt/image/upload/v1672683968/Screenshot_8_qnjxsx.jpg);
}
.content-gallery {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: transform var(--d) var(--e);
	z-index: 1;
}
.content-gallery > * + * {
	margin-top: 1rem;
}
.title-gallery {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
}
.copy-gallery {
	font-family: var(--font-serif);
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.35;
}
.btn-gallery {
	cursor: pointer;
	margin-top: 1.5rem;
	padding: 0.75rem 1.5rem;
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
	border: none;
	text-decoration: none;
}
.btn-gallery:hover {
	background-color: #0d0d0d;
	color: white;
}
.btn-gallery:focus {
	outline: 1px dashed yellow;
	outline-offset: 3px;
}
@media (hover: hover) and (min-width: 600px) {
	.card-gallery:after {
		transform: translateY(0);
}
	.content-gallery {
		transform: translateY(calc(100% - 4.5rem));
}
	.content-gallery > *:not(.title-gallery) {
		opacity: 0;
		transform: translateY(1rem);
		transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}
	.card-gallery:hover, 
	.card-gallery:focus-within {
		align-items: center;
}
	.card-gallery:hover:before, 
	.card-gallery:focus-within:before {
		transform: translateY(-4%);
}
	.card-gallery:hover:after, 
	.card-gallery:focus-within:after {
		transform: translateY(-50%);
}
	.card-gallery:hover .content-gallery, 
	.card-gallery:focus-within .content-gallery {
		transform: translateY(0);
}
	.card-gallery:hover .content-gallery > *:not(.title-gallery), 
	.card-gallery:focus-within .content-gallery > *:not(.title-gallery) {
		opacity: 1;
		transform: translateY(0);
		transition-delay: calc(var(--d) / 8);
}
	.card-gallery:focus-within:before, 
	.card-gallery:focus-within:after, 
	.card-gallery:focus-within .content-gallery, 
	.card-gallery:focus-within .content-gallery > *:not(.title-gallery) {
		transition-duration: 0s;
}
}

/*
* ==========================================
* progress Etapas
* ==========================================
*
*/

.metric {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bar {
	margin-bottom: 10px;
	width: 300px;
	height: 35px;
	border-radius: 7px;
	background: #E9ECEF;
	overflow: hidden;
	display: flex;
	align-items: center;
	text-align: center;
}

.bar div {
	width: 0%;
	height: 35px;
	border-radius: 7px;
	transition-duration: 1s;
}

.bar span {
	color: rgb(0, 0, 0);
	position: absolute;
	width: 300px;
}

#bar0 div {
	background: #e57801;
}

#bar1 div {
	background: #d8486b;
}

#bar2 div {
	background: #937cd6;
}

#bar3 div {
	background: #7090c0;
}
@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #089d79;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/img/flecha.svg);
    transform: rotate(-180deg);
}

.loader{
    position: absolute;
	top: 35%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	perspective: 1000px;
	z-index: 1;
}

.bobber{
    position: relative;
}
.bob{
    position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 250px;
	border: 10px solid #000;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	background-color: #efceb3;
	box-shadow: inset 15px -15px 0 0 rgba(0, 0, 0, 0.1);
	transform-origin: 50% 100%;
	animation: bob 2s cubic-bezier(.4, .2, .6, .8) infinite;
}
@keyframes bob{
    0%{
        transform: translateY(0) scaleY(1);
    }
    50%{
        transform: translateY(15%) scaleY(0.9);
    }
}
.eye{
    position: absolute;
	top: 35%;
	left: 65%;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	background-color: #000;
	transform: scaleX(0.6);
	animation: eye 2s cubic-bezier(.4, .2, .6, .8) infinite;
}
@keyframes eye{
    0%, 100%{
        transform: scaleX(0.6);
    }
    50%{
        transform: scaleX(0.5) scaleY(0.9);
    }
}
.eye:nth-child(2){
    top: 35%;
	left: 77%;
	transform: scaleX(0.5) scaleY(0.8);
	animation-name: eye2;
}
@keyframes eye2{
    0%, 100%{
        transform: scaleX(0.5) scaleY(0.8);
    }
    50%{
        transform: scaleX(0.4) scaleY(0.7);
    }
}
.shadow{
    position: absolute;
	top: 215px;
	left: 50%;
	opacity: 0.7;
	width: 180px;
	height: 180px;
	margin-left: -90px;
	border-radius: 200px;
	background-color: rgba(0, 0, 0, 0.1);
	transform: scaleX(0.8) scaleY(0.2);
	animation: shadow 2s cubic-bezier(.4, .2, .6, .8) infinite;
}
@keyframes shadow{
    0%, 100%{
        opacity: 0.4;
		transform: scaleX(0.8) scaleY(0.18);
    }
    50%{
        opacity: 1;
		transform: scaleX(1) scaleY(0.2);
    }
}

.fondo{
	position: absolute;
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 1;
}

.loanding{
    position: absolute;
	top: 290px;
    left: 77%;
    opacity: 0.7;
    width: 180px;
    height: 50px;
	margin-left: -90px;
	font-weight: bold;
}