<div class="modal fade"	id="formResetPassword" data-bs-backdrop="static" data-bs-keyboard="false"
	tabindex="-1"	aria-labelledby="staticBackdropLabel"	aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Restablecimiento de contraseña</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="resetPass" action="/resetPassword" method="POST">
					<div class="floating">
						<input class="floating__input input-field" type="email" id="email1" name="email1" placeholder="Correo" required/>
						<label for="email1" class="floating__label" data-content="Correo"></label>
						<div id="emailError1" class="error-container"></div>
					</div>
					<div class="floating">
						<input class="floating__input input-field" type="email" id="emailConfirm" name="emailConfirm" placeholder="Confirmar Correo" required/>
						<label for="emailConfirm" class="floating__label" data-content="Confirmar Correo"></label>
						<div id="emailError1" class="error-container"></div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-turquoise" form="resetPass">Enviar</button>
				<button type="button" class="btn btn-dark-blue" data-bs-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>