<div class="modal fade" id="formLots" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Nuevo Lote</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="createLot" action="/lots/add" method="POST">
					<div class="row g-3">
						<div class="col-md-4">
							<label for="number" class="col-form-label">Número de Lote:</label>
							<input type="number" class="form-control" id="number" name="number" placeholder="Ingrese un número de lote" required />
						</div>
						<div class="col-md-8">
							<label for="name" class="col-form-label">Nombre de Lote:</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Ingrese el nombre del lote" required />
						</div>
						<div class="col-md-12">
							<label for="amount" class="col-form-label">Cantidade de huevos:</label>
							<input type="number" class="form-control" id="amount" name="amount" placeholder="Ingrese la cantidad de huevos" required />
						</div>
						<div class="col-md-12">
							<label for="date" class="col-form-label">Fecha de inicio:</label>
							<input type="date" class="form-control" id="date" name="date" placeholder="Ingrese la fecha de inicio" required />
						</div>
						<div class="col-md-12">
							<label for="comment" class="col-form-label">Comentario:</label>
							<textarea class="form-control" id="comment" name="comment" placeholder="Ingrese un comentario"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn color-button" form="createLot">Agregar</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>